@page "/StatPolar"
@inherits BlazorLocal.Pages.StatPolar.StatPolarViewModel
@attribute [Authorize]

@if (!isLoadingFinished)
{
    <span class="spinner-border spinner-border-sm centerSpinner" role="status" aria-hidden="true"></span>
    <div class="overlay"></div>
}

@if (!IsFailed)
{
    <h1>Statistik</h1>
    <div class="mt-2">
        <span class="glyphicon glyphicon-filter"></span>@(Model?.Count ?? 0) Treffer
    </div>

    @* <div>
            <span class="btn btn-nav" @onclick="@CreateItem">Hinzufügen</span>
        </div> *@
    @if (Model != null)
    {
        <table class="table table-sm col-12">
            <thead>
                <tr>
                    <th style="text-align: right;">
                        Jahr
                    </th>
                    <th style="text-align: right;">
                        Monat
                    </th>
                    <th style="text-align: right;">
                        Polar
                    </th>
                    <th style="text-align: right;">
                        %
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: right;">@item.year</td>
                    <td style="text-align: right;">@item.month</td>
                    <td style="text-align: right;">@item.shopware</td>
                    <td style="text-align: right;">@item.percentage.ToString("N2")</td>
                    @* <td>
                            <i class="btn glyphicon glyphicon-send cursor" @onclick="@(() => SendMail(item))"></i>
                            <i class="btn glyphicon glyphicon-cog" @onclick="@(() => Edit(item))"></i>
                            <MatButton Class="smallBtnMatBlazor" OnClick="@(_ => OpenConfirmServiceRemove(item))"><i class="btn glyphicon glyphicon-remove-circle cursor"></i></MatButton>
                        </td> *@
                </tr>
            }
        </table>
    }
}
@*   @if (currentItem != null && EditViewModel.DialogIsOpen)
        {
            <EditDataSheet ViewModel="@EditViewModel" SaveItem="@Save" />
        }
    }*@
else
{
    <ErrorComponent Model="@ErrorModel"></ErrorComponent>
}
