@page "/DataSheet"
@inherits BlazorLocal.Pages.DataSheet.DataSheetViewModel

@if (!isLoadingFinished)
{
    <span class="spinner-border spinner-border-sm centerSpinner" role="status" aria-hidden="true"></span>
    <div class="overlay"></div>
}

@if (!IsFailed)
{
    <div class="mt-2">
        <span class="glyphicon glyphicon-filter"></span>@(Model?.Count ?? 0) Treffer
    </div>

    @* <div>
            <span class="btn btn-nav" @onclick="@CreateItem">Hinzufügen</span>
        </div> *@
    <table class="table table-sm col-12">
        <thead>
            <tr>

                <th>
                    <SortIcon Column="Id" Title="Id" Sort="@Sort"></SortIcon>
                </th>
                <th>
                    <SortIcon Column="Ordernumber" Title="Order number" Sort="@Sort"></SortIcon>
                </th>
                <th>
                    <SortIcon Column="Ordertime" Title="Order time" Sort="@Sort"></SortIcon>
                </th>
                <th>
                    <SortIcon Column="Articleid" Title="Article id" Sort="@Sort"></SortIcon>
                </th>
                <th>
                    <SortIcon Column="Articleordernumber" Title="Article order number" Sort="@Sort"></SortIcon>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
    <tr>

        <td>@item.id</td>
        <td>@item.ordernumber</td>
        <td>@item.ordertime</td>
        <td>@item.articleid</td>
        <td>@item.articleordernumber</td>
        @* <td>
            <i class="btn glyphicon glyphicon-send cursor" @onclick="@(() => SendMail(item))"></i>
            <i class="btn glyphicon glyphicon-cog" @onclick="@(() => Edit(item))"></i>
            <MatButton Class="smallBtnMatBlazor" OnClick="@(_ => OpenConfirmServiceRemove(item))"><i class="btn glyphicon glyphicon-remove-circle cursor"></i></MatButton>
        </td> *@
    </tr>
        }
    </table>
}
    @*   @if (currentItem != null && EditViewModel.DialogIsOpen)
            {
                <EditDataSheet ViewModel="@EditViewModel" SaveItem="@Save" />
            }
        }
        else
        {
            <ErrorComponent Model="@ErrorModel"></ErrorComponent>
        } *@
