@page "/system/errors"
@inherits SystemErrorLogPageViewModel
@attribute [Authorize(Roles = "Administrator")]

@if (!IsFailed)
{

    <div class="d-flex justify-content-between">
        <div class="d-flex mb-2">
            <h3>System</h3>
            <input type="email" @bind-value="@ToEmail" class="form-control form-control-sm mr-1 ml-1" />
            <span class="btn btn-nav" @onclick="@SendTestEmail">Send</span>
        </div>
        <div class="d-flex mb-2">
            <input type="date" @bind-value="@StartDate" class="form-control form-control-sm mr-1" />
            <input type="date" @bind-value="@EndDate" class="form-control form-control-sm mr-1" />
            <span class="btn btn-nav" @onclick="@ExportErrors">Export</span>
        </div>
    </div>
    <ErrorLogComponent Model="@Model" FilteringEvn="@GetLogs"></ErrorLogComponent>

}
else if (IsFailed)
{
    <ErrorComponent Model="@ErrorModel" />
}