@page "/Statistik"
@inherits BlazorLocal.Pages.StatSheet.StatSheetViewModel
@attribute [Authorize(Roles = "Administrator")]

@if (!isLoadingFinished)
{
    <span class="spinner-border spinner-border-sm centerSpinner" role="status" aria-hidden="true"></span>
    <div class="overlay"></div>
}

@if (!IsFailed)
{
    <h1>Statistik</h1>
    <div class="mt-2">
        <span class="glyphicon glyphicon-filter"></span>@(Model?.Count ?? 0) Treffer
    </div>

    @* <div>
            <span class="btn btn-nav" @onclick="@CreateItem">Hinzufügen</span>
        </div> *@
    <table class="table table-sm col-12">
        <thead>
            <tr>
                <th style="text-align: right;">
                    <SortIcon Column="Year" Title="Jahr" Sort="@Sort"></SortIcon>
                </th>
                <th style="text-align: right;">
                    <SortIcon Column="Month" Title="Monat" Sort="@Sort"></SortIcon>
                </th>
                <th style="text-align: right;">
                    <SortIcon Column="Allorders" Title="Gesamt" Sort="@Sort"></SortIcon>
                </th>
                <th style="text-align: right;">
                    <SortIcon Column="Shoporders" Title="Polar" Sort="@Sort"></SortIcon>
                </th>
                <th style="text-align: right;">
                    <SortIcon Column="Mangalisterorders" Title="ML Gesamt" Sort="@Sort"></SortIcon>
                </th>
                <th style="text-align: right;">
                    <SortIcon Column="Soldproducts" Title="AnzP Gesamt" Sort="@Sort"></SortIcon>
                </th>
                <th style="text-align: right;">
                    <SortIcon Column="Soldproductssw" Title="AnzP Polar" Sort="@Sort"></SortIcon>
                </th>
                <th style="text-align: right;">
                    <SortIcon Column="Soldproductsmangalister" Title="AnzP ML" Sort="@Sort"></SortIcon>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: right;">@item.year</td>
                <td style="text-align: right;">@item.month</td>
                <td style="text-align: right;">@item.allorders</td>
                <td style="text-align: right;">@item.sworders</td>
                <td style="text-align: right;">@item.mangalisterorders</td>
                <td style="text-align: right;">@item.soldproducts</td>
                <td style="text-align: right;">@item.soldproductssw</td>
                <td style="text-align: right;">@item.soldproductsmangalister</td>
                @* <td>
                        <i class="btn glyphicon glyphicon-send cursor" @onclick="@(() => SendMail(item))"></i>
                        <i class="btn glyphicon glyphicon-cog" @onclick="@(() => Edit(item))"></i>
                        <MatButton Class="smallBtnMatBlazor" OnClick="@(_ => OpenConfirmServiceRemove(item))"><i class="btn glyphicon glyphicon-remove-circle cursor"></i></MatButton>
                    </td> *@
            </tr>
        }
    </table>
}
@*@if (currentItem != null && EditViewModel.DialogIsOpen)
        {
            <EditDataSheet ViewModel="@EditViewModel" SaveItem="@Save" />
        }
    }*@
else
{
    <ErrorComponent Model="@ErrorModel"></ErrorComponent>
}
